extends layout.pug

block content

  article.portfolio-intro

    //- Replace with your own heading like 'My Portfolio', or 'Hey, Potential Employers', or 'Let's make the web great together!' 
    h1 Portfolio 

    //- Replace with a description for your portfolio, what this project is, it's purpose, what it's supposed to accomplish, etc. 
    p A collection of projects from Tree House's Full Stack JavaScript course that showcase skills learned this far.


  article.portfolio-project-thumbs
    .projects-box.box.grid
      each project in projects 
        .cell
          a(href='#')
            img.thumbnail(src=`/static/${project.image_urls[0]}`, alt=`${project.project_name} thumbnail`)
            h5=project.project_name

