extends layout.pug

block content

  article.portfolio-intro


    h1 Portfolio 

    p A collection of projects from Tree House's Full Stack JavaScript course that showcase skills learned this far.


  article.portfolio-project-thumbs
    .projects-box.box.grid
      each project in projects 
        .cell
          a(href=`/project/${project.id}`)
            img.thumbnail(src=`/static/${project.image_urls[0]}`, alt=`${project.project_name} thumbnail`)
            h5=project.project_name

